@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre-exp.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre-icons.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.2.14/spectre.min.css");
@import url("https://fonts.googleapis.com/earlyaccess/jejugothic.css");

body{
    background: #181818;
    left: 0; right: 0;
    margin: 0;
    width: 100%;
    -ms-overflow-style: none;
    }

::-webkit-scrollbar{
    display: none;
    }

.headerbox{
 left: 0; 
 position: absolute;
 width: 100%;
 margin: 0;
 background: #282828;
 z-index: 300;
 }

.top-menu {
    position: relative;
    margin: 0px 10px 20px;
    list-style: none;
    float: left;
    color: #adafb2;
    font-size: 11px;
    }

.headerbox .logo{
    position: relative;
    font-family: 'Jeju Gothic';
    font-size: 24px;
    font-weight: bold;
    color:#1db954;
    
    }

li.menu-item:hover {
    color: #1db954 !important;
    }

.tags{
    display: none;
    }

.intervalbox{
    height: 150px;/*검색바 간격*/
    }

div.column.col-xs-12.col-md-10 {
    width: auto;
    }/*검색바 길이*/

.input-group .input-group-addon {
    background-color: #0000;
    border: 0;
    padding: 5px 0px 5px 10px;
    color: #282828;
    }

.input-inline.width100 {
    background: #FFF;
    border-radius: 50px;
    transition: 0.3s;
    }/* 검색배경 */

.input-inline.width100:hover {
    box-shadow: 0px 0px 5px #1db954;
    transition: 0.3s;
    }

div.form-autocomplete-input.form-input {
    width: 215px;
    background: #0000;
    border: 0;
    }

#search.form-input {
    background: #0000;
    padding: 0 0 0 0;
    font-family: 'Jeju Gothic';
    color: #282828;
    }

#search.form-input::placeholder {
    color: #a0a0a0;
    }

i#search_clear.form-icon {
    background: #0000;
    color: #a0a0a0;
    } /*검색지우기*/

.chip {
  width: 96px;
  font-family: 'Jeju Gothic';
  background: rgba(0,0,0,0);
  color: #adafb2;
  border-radius: 30px;
  margin-bottom: 5px; margin-right: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  }

.chip:hover {
  background: #404040;
  color: #fff;
  transition: 0.3s;
}

.tag-selected {
  width: 96px;
  color: #fff;
  background: #1db954;
  }
.tag-selected:hover {
  background: #1db954;
  }

#search:focus {
  z-index: auto;
  }

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    }
  }

.card {
  border-width: 0px;
  }


.dccon {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  }

/* .dccon>.card>.card-body {
  height: 70px;
  } */

#search_clear {
  cursor: pointer;
  }

.toast-container {
  position: fixed;
  bottom: 0px; right: 0px;
  padding: 16px;
  z-index: 400;
  }

.toast {
    margin-top: 8px;
    }

.toast-container .toast-primary {
  background: #1db954;
  border: none;
  border-radius: 30px;
  font-family: 'Jeju Gothic';
  }

.menu {
  max-height: 360px;
  overflow-y: scroll;
  overflow-x: hidden;
  }

.col-15 {
    max-width: 100px;
    }

.tooltip {
    min-width: 100px;max-width: 100px;
    margin: 10px;
    padding: 0px;
    }

.dccon.tooltip:after {
    background: #1ed760;
    border-radius: 50px;
    color: #282828;
    font-family: 'Jeju Gothic';
    }

div.card {
    display: grid;
    position: relative;
    background: transparent;
    border-radius: 0px;
    border: 0;
    width: 100px;
    height: auto !important;
    overflow: hidden; /*이미지 테두리 가두기*/
    }

.card-image{
    top:0; bottom:0; left:0; right:0;
    }

.img-responsive.width100.lazy {
    position: absolute;
    top:0; bottom:0; left:0; right:0;
    margin: 0;
    padding: 0;
    }

.card-image img{
    max-width: auto;
    height: auto !important;
    filter: blur(0px);
    transform:scale(1);
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    }

.card-image:hover img{
    filter: blur(2px);
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    }

.img-background {
    /*opacity: 0;*/
    border-radius: 0;
    background: #404040;
    max-width: 100%;
    }

.credit{
    padding-top: 100px;
    position: absolute;
    margin: 0;
    min-width: 100%;
    background-color: #121212;
    }
.credit .text {
    text-align: center;
    padding: 0px;    
    }
.credit .text, .credit .text a {
    color: #919496;
    text-decoration: none;
    }
.credit .text a:hover {
    text-decoration: none;
    color: #1DB954;
    }
